{% extends 'base.html.twig' %}

{% block title %}{{ pageTranslation.title }}{% endblock %}

{% block metaDescription %}{{ pageTranslation.description }}{% endblock %}

{% block body %}
    {% for block in pageTranslation.blocks %}
        <div class="kw-page-block" data-block-id="{{ block.id }}">
            {{ component(block.component, { block: block }) }}
        </div>
    {% endfor %}
{% endblock %}