{% extends '@KikwikPage/admin/layout.htlm.twig' %}

{% block body %}
    <h1 class="mb-5">
        Crea {% if parent %}pagina figlia di {{ parent }}{% else %}homepage{% endif %}
    </h1>

    {% include '@KikwikPage/admin/page/_form.html.twig' %}

{% endblock %}