{% extends 'base.html.twig' %}

{% block body %}

    <div class="card m-3">
        <div class="card-header">
            Modifica pagina {{ page }}
        </div>
        <div class="card-body">
            {{ component('PageFormLive', { form: form, initialFormData: page }) }}
        </div>
    </div>

{% endblock %}