{% extends '@KikwikPage/admin/layout.htlm.twig' %}

{% block body %}
    <h1 class="mb-5">
        Modifica pagina {{ page }}
    </h1>

    {% include '@KikwikPage/admin/_form.html.twig' %}
{% endblock %}