{% extends 'base.html.twig' %}

{% block body %}

    <div class="card">
        <div class="card-header">
            Modifica pagina {{ page }}
        </div>
        <div class="card-body">
{#            {% include '@KikwikPage/admin/page/_form.html.twig' %}#}
            {{ component('PageFormLive', { form: form, initialFormData: page }) }}
        </div>
    </div>

{% endblock %}